@inject IThemeStateService themeState
@page "/"
@using System.Text.RegularExpressions

@if (_cssTableSwitch)
{
    <style>
        .mud-table-toolbar {
            background-color: var(--mud-palette-drawer-background) !important;
            color: var(--mud-palette-drawer-text) !important;
        }
    </style>
}
<MudPaper Class="pa-4 d-flex justify-space-around flex-wrap" MinHeight="100px" Height="100%">
    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceAround">

        <MudAvatar Color="Color.Default" Class="my-auto">M</MudAvatar>
        <MudAvatar Color="Color.Primary" Class="my-auto">U</MudAvatar>
        <MudAvatar Color="Color.Secondary" Class="my-auto">D</MudAvatar>
        <MudAvatar Color="Color.Tertiary" Class="my-auto">B</MudAvatar>
        <MudAvatar Color="Color.Info" Class="my-auto">L</MudAvatar>
        <MudAvatar Color="Color.Success" Class="my-auto">A</MudAvatar>
        <MudAvatar Color="Color.Warning" Class="my-auto">Z</MudAvatar>
        <MudAvatar Color="Color.Error" Class="my-auto">R</MudAvatar>
        <span style="width: 25px;"></span>
        <MudAvatar Color="Color.Surface" Class="my-auto">T</MudAvatar>
        <MudAvatar Color="Color.Surface" Variant="Variant.Text" Class="my-auto">H</MudAvatar>
        <MudAvatar Color="Color.Surface" Class="my-auto">E</MudAvatar>
        <MudAvatar Color="Color.Surface" Variant="Variant.Text" Class="my-auto">M</MudAvatar>
        <MudAvatar Color="Color.Surface" Class="my-auto">E</MudAvatar>
        <span style="width: 25px;"></span>
        <MudAvatar Color="Color.Success" Variant="Variant.Outlined" Class="my-auto">P</MudAvatar>
        <MudAvatar Color="Color.Warning" Variant="Variant.Outlined" Class="my-auto">R</MudAvatar>
        <MudAvatar Color="Color.Error" Variant="Variant.Outlined" Class="my-auto">E</MudAvatar>
        <MudAvatar Color="Color.Info" Variant="Variant.Outlined" Class="my-auto">V</MudAvatar>
        <MudAvatar Color="Color.Success" Variant="Variant.Outlined" Class="my-auto">I</MudAvatar>
        <MudAvatar Color="Color.Warning" Variant="Variant.Outlined" Class="my-auto">E</MudAvatar>
        <MudAvatar Color="Color.Error" Variant="Variant.Outlined" Class="my-auto">W</MudAvatar>
    </MudStack>
    <MudGrid>
        <MudItem xs="12">
            <MudContainer Class="pa-4 pt-6 pb-3">
                <MudText Typo="Typo.body2">
                    This tool allows you to create a custom theme for MudBlazor. You can customize the theme colors,
                    typography, and other settings. The tool will generate a theme class or CSS that you can use in your MudBlazor
                    project. The tool is still in development and may have bugs or missing features. Please report any issues
                    on the GitHub repository. Click
                    <MudLink Href="/about">here</MudLink> to learn more about this tool.
                </MudText><br />
                <center>
                    <MudText Class="my-n2" Typo="Typo.caption">
                        <b>Mudblazor Version</b>: @mudVersion
                        &nbsp;&nbsp;&nbsp;
                        <b>MudEx Version</b>: @mudExVersion
                    </MudText>
                </center>
            </MudContainer>
        </MudItem>
    </MudGrid>

</MudPaper>
<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
    <MudGrid>
        <!-- Buttons Section -->
        <MudItem xs="12">
            <MudPaper Class="pa-4" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">Buttons</MudText>
                <MudText>
                    <b>Filled: </b>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" data-tooltip="Primary" Class="ma-2 has-tooltip-primary">Primary</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" data-tooltip="Secondary" Class="ma-2 has-tooltip-secondary">Secondary</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Tertiary" data-tooltip="Tertiary" Class="ma-2 has-tooltip-tertiary">Tertiary</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Surface" Class="ma-2">Surface</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Dark" Class="ma-2">Dark</MudButton>
                    <MudButtonGroup Color="Color.Tertiary" Variant="Variant.Filled">
                        <MudButton>@_buttonText</MudButton>
                        <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                            <MudMenuItem OnClick="() => SetButtonText(0)">Reply</MudMenuItem>
                            <MudMenuItem OnClick="() => SetButtonText(1)">Reply All</MudMenuItem>
                            <MudMenuItem OnClick="() => SetButtonText(2)">Forward</MudMenuItem>
                            <MudMenuItem OnClick="() => SetButtonText(3)">Reply & Delete</MudMenuItem>
                        </MudMenu>
                    </MudButtonGroup>
                </MudText>
                <br />
                <MudText>
                    <b>Outlined: </b>
                    <MudButton Variant="Variant.Outlined" Color="Color.Error" Class="ma-2 has-tooltip-error has-tooltip-arrow has-tooltip-top" data-tooltip="Error">Error</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Info" Class="ma-2 has-tooltip-info has-tooltip-arrow has-tooltip-bottom" data-tooltip="Info">Info</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Success" Class="ma-2 has-tooltip-success has-tooltip-arrow has-tooltip-left" data-tooltip="Success">Success</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Warning" Class="ma-2 has-tooltip-warning has-tooltip-arrow has-tooltip-right" data-tooltip="Warning">Warning</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Transparent" Class="ma-2">Transparent</MudButton>
                    <MudButtonGroup OverrideStyles="false" Variant="Variant.Outlined">
                        <MudButton Color="Color.Tertiary" OnClick="@(() => _activeButtonId = 0)" Variant="@(_activeButtonId == 0 ? Variant.Filled : Variant.Outlined)">All</MudButton>
                        <MudButton Color="Color.Tertiary" OnClick="@(() => _activeButtonId = 1)" Variant="@(_activeButtonId == 1 ? Variant.Filled : Variant.Outlined)">Active</MudButton>
                        <MudButton Color="Color.Tertiary" OnClick="@(() => _activeButtonId = 2)" Variant="@(_activeButtonId == 2 ? Variant.Filled : Variant.Outlined)">InActive</MudButton>
                    </MudButtonGroup>
                </MudText>
                <MudText>
                    <b>Text: </b>
                    <MudButton Variant="Variant.Text" Class="ma-2"><MudText Typo="Typo.subtitle1">Subtitle1</MudText></MudButton>
                    <MudButton Variant="Variant.Text" Class="ma-2"><MudText Typo="Typo.subtitle2">Subtitle2</MudText></MudButton>
                    <MudButton Variant="Variant.Text" Class="ma-2"><MudText Typo="Typo.body1">Body1</MudText></MudButton>
                    <MudButton Variant="Variant.Text" Class="ma-2"><MudText Typo="Typo.body2">Body2</MudText></MudButton>
                    <MudButton Variant="Variant.Text" Class="ma-2"><MudText Typo="Typo.caption">Caption</MudText></MudButton>
                    <MudButton Variant="Variant.Text" Class="ma-2"><MudText Typo="Typo.input">Input</MudText></MudButton>
                    <MudButton Variant="Variant.Text" Class="ma-2"><MudText Typo="Typo.overline">Overline</MudText></MudButton>
                </MudText>
            </MudPaper>
        </MudItem>

        <!-- Text Fields Section -->
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4 pb-5" Elevation="2">
                <MudText Typo="Typo.h5" Class="mb-4">Text Fields</MudText>
                <MudTextField T="string" Label="Standard" Variant="Variant.Text" Class="mb-2" />
                <MudTextField T="string" Label="Filled" Variant="Variant.Filled" Class="mb-2" />
                <MudTextField T="string" Label="Outlined" Variant="Variant.Outlined" Class="mb-2" />
                <MudTextField T="string" Label="Shrink Label" ShrinkLabel="true" HelperText="Helper Text" Class="mb-2" />
                <MudTextField T="string" Label="Password" InputType="InputType.Password" Class="mb-2" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="4">
            <!-- Select and Autocomplete Section -->
            <MudPaper Class="pa-4 pb-9" Elevation="2">
                <MudText Typo="Typo.h5" Class="mb-4">Select and Autocomplete</MudText>
                <MudSelect T="int" Value="1" Label="Select" Class="mb-2">
                    <MudSelectItem Value="1">Option 1</MudSelectItem>
                    <MudSelectItem Value="2">Option 2</MudSelectItem>
                    <MudSelectItem Value="3">Option 3</MudSelectItem>
                </MudSelect>
                <MudAutocomplete T="string" Label="Autocomplete" SearchFunc="@Search1" />
                <br />
                <!-- Date and Time Pickers -->
                <MudText Typo="Typo.h5" Class="mt-4">Date and Time Pickers</MudText>
                <MudDatePicker Label="Date picker" Class="mb-2" />
                <MudTimePicker Label="Time picker" Class="mb-2" />
                <br />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="4">
            <!-- Switches and Checkboxes -->
            <MudPaper Class="pa-4 pb-15" Elevation="2">
                <MudText Typo="Typo.h5" Class="mb-4">Switches, Checkboxes, Sliders </MudText>
                <MudSwitch T="bool" Value="true" Label="Switch" Color="Color.Primary" Class="mb-2" />
                <MudCheckBox T="bool" Value="true" Label="Checkbox" Color="Color.Secondary" Class="mb-2" />
                <MudRadioGroup T="int" Value="1">
                    <MudRadio Value="1" Color="Color.Primary">Option 1</MudRadio>
                    <MudRadio Value="2" Color="Color.Secondary">Option 2</MudRadio>
                </MudRadioGroup>
                <MudSlider T="double" Step=".1" Min="0" Max="30" ValueLabel="true" ValueLabelFormat="N1"
                           @bind-Value="@_slider1" Variant="Variant.Filled">
                    Volume: @_slider1.ToString("N1")
                </MudSlider>
                <MudSlider T="double" Step=".1" Min="0" Max="99" Size="Size.Medium"
                           @bind-Value="_slider2" Variant="Variant.Filled">
                    Cash: @_slider2.ToString("C")
                </MudSlider>
            </MudPaper>
        </MudItem>

        <!-- Alerts -->
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="2">
                <MudText Typo="Typo.h5" Class="mb-4">Alerts</MudText>
                <MudAlert Severity="Severity.Normal" Class="mb-2">Normal Alert</MudAlert>
                <MudAlert Severity="Severity.Info" Class="mb-2">Info Alert</MudAlert>
                <MudAlert Severity="Severity.Success" Class="mb-2">Success Alert</MudAlert>
                <MudAlert Severity="Severity.Warning" Class="mb-2">Warning Alert</MudAlert>
                <MudAlert Severity="Severity.Error">Error Alert</MudAlert>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="4">
            <!-- Badges -->
            <MudPaper Class="pa-4 pb-9" Elevation="2">
                <MudText>
                    <b>Badges</b>
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly">
                        <MudBadge Content="3" Overlap="true" Class="mx-6 my-4">
                            <MudIcon Icon="@Icons.Material.Filled.Email" />
                        </MudBadge>
                        <MudBadge Content="100" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                            <MudIcon Icon="@Icons.Material.Filled.Email" />
                        </MudBadge>
                        <MudBadge Icon="@Icons.Material.Filled.Lock" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                            <MudButton Variant="Variant.Filled" DropShadow="false">Security</MudButton>
                        </MudBadge>
                        <MudBadge Dot="true" Class="mx-6 my-4">
                            <MudText>Bugs</MudText>
                        </MudBadge>
                    </MudStack>
                </MudText>
                <!-- Breadcrumbs -->
                <MudText>
                    <b>Breadcrumbs: </b>
                    <MudBreadcrumbs Items="@(new List<BreadcrumbItem>{new BreadcrumbItem("Home", href: "#"), new BreadcrumbItem("Link 1", href: "#"), new BreadcrumbItem("Link 2", href: null, disabled: true)})" />
                </MudText>
                <MudText>
                    <b>MudChips: </b>
                    <MudChipSet T="Color" @bind-SelectedValues="_selectedColors" CheckMark SelectionMode="SelectionMode.MultiSelection">
                        <MudChip Text="Primary" Color="Color.Primary" Value="@Color.Primary">Primary</MudChip>
                        <MudChip Text="Secondary" Color="Color.Secondary" Value="@Color.Secondary">Secondary</MudChip>
                        <MudChip Text="Tertiary" Color="Color.Tertiary" Value="@Color.Tertiary">Tertiary</MudChip>
                    </MudChipSet>
                </MudText>
                <MudText>
                    <b>Links: </b><br />
                    <MudLink Href="#" Underline="Underline.Hover">Home Page</MudLink> - Underline.Hover<br />
                    <MudLink Href="#" Underline="Underline.Always">Home Page</MudLink> - Underline.Always
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <!-- Cards -->
            <MudPaper Elevation="2" Class="pa-4 pt-2">
                <MudCard Class="pa-4" Elevation="2">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Card - Title Area</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>Card content goes here.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Action</MudButton>
                    </MudCardActions>
                </MudCard>
                <MudText Class="pt-3 pb-2" Typo="Typo.h5">Menus</MudText>
                <MudMenu Class="pr-4" Label="Open Menu">
                    <MudMenuItem>Enlist</MudMenuItem>
                    <MudMenuItem>Barracks</MudMenuItem>
                    <MudMenuItem>Armory</MudMenuItem>
                </MudMenu>

                <MudMenu Label="Open Dense Menu" Dense="true">
                    <MudMenuItem>Dense Stuff</MudMenuItem>
                    <MudMenuItem>Stuff is Dense</MudMenuItem>
                    <MudMenuItem>Soo Dense</MudMenuItem>
                </MudMenu>
                <br />
                <MudMenu Class="pr-4" Label="Default Menu Width" Variant="Variant.Filled">
                    <MudMenuItem IconSize="Size.Small" IconColor="Color.Primary" Disabled="true" Icon="@Icons.Material.Filled.Chair">Chair</MudMenuItem>
                    <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.DoorFront">Door</MudMenuItem>
                    <MudMenuItem IconSize="Size.Small" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.Window">Window</MudMenuItem>
                </MudMenu>

                <MudMenu Label="Full Menu Width" Variant="Variant.Filled" FullWidth="true">
                    <MudMenuItem>1</MudMenuItem>
                    <MudMenuItem>2</MudMenuItem>
                    <MudMenuItem>3</MudMenuItem>
                </MudMenu>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="2" Style="height:370px; overflow: auto;">
                <MudText Typo="Typo.h5" Class="px-4">Progress Bars</MudText>
                <MudStack Row Justify="Justify.SpaceEvenly" AlignItems="AlignItems.Center">
                    <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                    <MudProgressCircular Size="Size.Medium" Indeterminate="true" />
                    <MudProgressCircular Size="Size.Large" Indeterminate="true" />
                    <MudProgressCircular Style="height:70px;width:70px;" Indeterminate="true" />
                </MudStack>
                <MudProgressLinear Indeterminate="true" Class="my-7 mb-4 mt-4" Size="Size.Small" />
                <MudProgressLinear Indeterminate="true" Class="my-7" Size="Size.Medium" />
                <MudText Typo="Typo.h5" Class="px-4">Skeletons</MudText>
                <MudSkeleton />
                <MudSkeleton SkeletonType="SkeletonType.Circle" Width="30px" Height="30px" />
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="58px" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="2" Style="height:370px; overflow: auto;">
                <MudNavMenu>
                    <MudText Typo="Typo.h5" Class="px-4">Nav Menu</MudText>
                    <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Secondary Text</MudText>
                    <MudDivider Class="my-2" />
                    <MudNavLink Href="/">Dashboard</MudNavLink>
                    <MudNavLink Href="/servers">Servers</MudNavLink>
                    <MudNavLink Href="/billing" Disabled="true">Billing</MudNavLink>
                    <MudNavGroup Title="Settings" Expanded="true">
                        <MudNavLink Href="/users">Users</MudNavLink>
                        <MudNavLink Href="/security">Security</MudNavLink>
                    </MudNavGroup>
                    <MudNavLink Href="/about">About</MudNavLink>
                </MudNavMenu>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="2" Style="height:370px; overflow: auto;">
                <MudText Typo="Typo.h5" Class="px-4">List</MudText>
                <MudList T="string">
                    <MudListItem Text="Inbox" Icon="@Icons.Material.Filled.Inbox" />
                    <MudListItem Text="Sent" Icon="@Icons.Material.Filled.Send" />
                    <MudListItem Text="Drafts" Disabled="true" IconColor="Color.Info" Icon="@Icons.Material.Filled.Drafts" />
                    <MudDivider />
                    <MudListItem Text="Trash" SecondaryText="Removed e-mails" />
                    <MudListItem Text="Spam" SecondaryText="E-mails from common providers" />
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="2" Style="height:300px; overflow: auto;">
                <MudText Typo="Typo.h5" Class="px-4">Tabs</MudText>
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Tab One">
                        <MudText>Content One</MudText>
                    </MudTabPanel>
                    <MudTabPanel Text="Tab Two">
                        <MudText>Content Two</MudText>
                    </MudTabPanel>
                    <MudTabPanel Text="Tab Three">
                        <MudText>Content Three</MudText>
                    </MudTabPanel>
                    <MudTabPanel Text="Tab Disabled" Disabled="true">
                        <MudText>Content Disabled</MudText>
                    </MudTabPanel>
                </MudTabs>
                <MudTabs Elevation="2" Rounded="true" Centered="true" Color="@Color.Primary" PanelClass="pa-6">
                    <MudTabPanel Text="One">
                        <MudText>Content One</MudText>
                    </MudTabPanel>
                    <MudTabPanel Text="Two">
                        <MudText>Content Two</MudText>
                    </MudTabPanel>
                </MudTabs>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="2" Style="height:300px; overflow: auto;">
                <MudText Typo="Typo.h5" Class="px-4">Timeline</MudText>
                <MudTimeline>
                    <MudTimelineItem Color="Color.Info">
                        <MudText Typo="Typo.button">Packaging Process Started</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">Yesterday: 16:33</MudText>
                    </MudTimelineItem>
                    <MudTimelineItem TimelineAlign="TimelineAlign.End">
                        <MudText Typo="Typo.body2">Packaging complete</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">Yesterday: 17:10</MudText>
                    </MudTimelineItem>
                    <MudTimelineItem TimelineAlign="TimelineAlign.End">
                        <MudText Typo="Typo.body2">Waiting for pickup</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">Yesterday: 17:15</MudText>
                    </MudTimelineItem>
                    <MudTimelineItem Color="Color.Error">
                        <MudAlert Severity="Severity.Error">Package missed last pickup time.</MudAlert>
                    </MudTimelineItem>
                    <MudTimelineItem Color="Color.Success">
                        <MudText Typo="Typo.button">Package picked up by driver</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">Today: 17:00</MudText>
                    </MudTimelineItem>
                    <MudTimelineItem TimelineAlign="TimelineAlign.End">
                        <MudText Typo="Typo.button">Package In Transit</MudText>
                    </MudTimelineItem>
                </MudTimeline>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="2" Style="height:300px; overflow: auto;">
                <MudText Typo="Typo.h5" Class="px-4">Toolbar</MudText>
                <MudToolBar>
                    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Add" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Remove" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Notifications" />
                    <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" />
                    <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
                </MudToolBar>
                <MudText>
                    <b>With Tooltips:</b><br />
                    <MudToolBar>
                        <MudTooltip Text="Menu">
                            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
                        </MudTooltip>
                        <MudTooltip Text="Add">
                            <MudIconButton Icon="@Icons.Material.Outlined.Add" />
                        </MudTooltip>
                        <MudTooltip Text="Edit">
                            <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
                        </MudTooltip>
                        <MudTooltip Text="Remove">
                            <MudIconButton Icon="@Icons.Material.Outlined.Remove" />
                        </MudTooltip>
                        <MudTooltip Text="Notifications">
                            <MudIconButton Icon="@Icons.Material.Outlined.Notifications" />
                        </MudTooltip>
                        <MudTooltip Text="User Profile">
                            <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" />
                        </MudTooltip>
                        <MudTooltip Text="More...">
                            <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
                        </MudTooltip>
                    </MudToolBar>
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Class="pa-4" Style="height: 300px; overflow: auto;">
                <MudText Typo="Typo.h5">Typography</MudText>
                <MudText Typo="Typo.h1">h1. Heading</MudText>
                <MudText Typo="Typo.h2">h2. Heading</MudText>
                <MudText Typo="Typo.h3">h3. Heading</MudText>
                <MudText Typo="Typo.h4">h4. Heading</MudText>
                <MudText Typo="Typo.h5">h5. Heading</MudText>
                <MudText Typo="Typo.h6">h6. Heading</MudText>
                <MudText Typo="Typo.subtitle1">subtitle1.&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</MudText>
                <MudText Typo="Typo.subtitle2">subtitle2.&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</MudText>
                <MudText Typo="Typo.body1">body1.&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</MudText>
                <MudText Typo="Typo.body2">body2.&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</MudText>
                <MudText Typo="Typo.input">input.&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</MudText>
                <br /><MudText Typo="Typo.button">BUTTON TEXT</MudText>
                <br /><MudText Typo="Typo.caption">caption text</MudText>
                <br /><MudText Typo="Typo.overline">OVERLINE TEXT</MudText>
                <br /><MudText Typo="Typo.button" HtmlTag="h3">button typo but the element is h3</MudText>
                <MudText Typo="Typo.body2" HtmlTag="strong">body2 typo but the element is strong</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Class="pa-4" Style="height: 300px; overflow: auto;">
                <MudText Typo="Typo.h5">Treeview</MudText>
                <MudTreeView T="string">
                    <MudTreeViewItem Value='"All Mail"' Icon="@Icons.Material.Filled.Email" />
                    <MudTreeViewItem Value='"Drafts"' Icon="@Icons.Material.Filled.Drafts" />
                    <MudTreeViewItem Value='"Orders"' Icon="@Icons.Material.Filled.Label" IconColor="Color.Secondary" />
                    <MudTreeViewItem Value='"Categories"' Icon="@Icons.Custom.Uncategorized.Folder" IconExpanded="@Icons.Custom.Uncategorized.FolderOpen" IconColor="Color.Info"
                                     ExpandButtonIcon="@Icons.Material.Filled.ArrowRight" ExpandButtonIconColor="Color.Primary">
                        <MudTreeViewItem Value='"Social"' Icon="@Icons.Material.Filled.Group" />
                        <MudTreeViewItem Value='"Updates"' Icon="@Icons.Material.Filled.Info" IconColor="Color.Tertiary" />
                        <MudTreeViewItem Value='"Forums"' Icon="@Icons.Material.Filled.QuestionAnswer" />
                        <MudTreeViewItem Value='"Spam"' Icon="@Icons.Material.Filled.LocalOffer" />
                    </MudTreeViewItem>
                    <MudTreeViewItem Value='"Trash"' Icon="@Icons.Material.Filled.Delete" />
                </MudTreeView>
            </MudPaper>
        </MudItem>
        <!-- Table -->
        <MudItem xs="12">
            <MudTable @key="_renderKey" T="Person" Items="PeopleList" Hover="true" Breakpoint="Breakpoint.Sm" Filter="@QuickFilter">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Table / Datagrid Example</MudText>
                    <MudSpacer />
                    <MudTooltip>
                        <TooltipContent>
                            <MudItem Style="text-align: left;">
<pre>
&lt;style&gt;
/* Styles for table and datagrid header */
.mud-table-toolbar {
background-color: var(--mud-palette-drawer-background) !important;
color: var(--mud-palette-drawer-text) !important;
}
&lt;/style&gt;
</pre>
                            </MudItem>
                        </TooltipContent>
                        <ChildContent>
                            <u><MudSwitch Class="pr-16" Value="@_cssTableSwitch" ValueChanged="@((bool val) => TableToolbarCssChanged(val))" Label="Toggle Toolbar CSS" /></u>
                        </ChildContent>
                    </MudTooltip>
                    <MudTextField T="string" @bind-Value="_searchString" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                  Placeholder="Search" Immediate="true"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Age</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    <MudTd DataLabel="Age">@context.Age</MudTd>
                    <MudTd DataLabel="Command">
                        <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Edit">Edit</MudButton>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue}" HorizontalAlignment="HorizontalAlignment.Center" />
                </PagerContent>
            </MudTable>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter(Name = "IsDarkMode")]
    private bool isDarkMode { get; set; } = default!;

    private string _buttonText = "Reply";
    private int _activeButtonId = 0;
    private IReadOnlyCollection<Color> _selectedColors = [];

    private double _slider1 = 3.5;
    private double _slider2 = 17.36;
    private bool _cssTableSwitch = true;
    private List<Person> PeopleList = [];
    private string _searchString = string.Empty;
    private int _renderKey = 0;
    private string mudVersion = string.Empty;
    private string mudExVersion = string.Empty;

    protected override void OnInitialized()
    {
        PeopleList = GeneratePeopleData();
        mudVersion = Regex.Replace(Extensions.Extensions.MudBlazorVersion, @"(\.0)+$", string.Empty);
        mudExVersion = Regex.Replace(Extensions.Extensions.MudExVersion, @"(\.0)+$", string.Empty);
    }


    private void TableToolbarCssChanged(bool newVal)
    {
        _cssTableSwitch = newVal;
    }

    private Func<Person, bool> QuickFilter => x =>
    {
        if (string.IsNullOrEmpty(_searchString))
            return true;
        if (x.Name.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (int.TryParse(_searchString, out int searchAge) && x.Age == searchAge)
            return true;

        return false;
    };

    private void SetButtonText(int id)
    {
        switch (id)
        {
            case 0:
                _buttonText = "Reply";
                break;
            case 1:
                _buttonText = "Reply All";
                break;
            case 2:
                _buttonText = "Forward";
                break;
            case 3:
                _buttonText = "Reply & Delete";
                break;
        }
    }

    private Task<IEnumerable<string>> Search1(string value, CancellationToken token)
    {
        // This is just a dummy search function for the Autocomplete component
        if (string.IsNullOrEmpty(value))
            return Task.FromResult<IEnumerable<string>>(new[] { "Apple", "Banana", "Orange" });
        return Task.FromResult<IEnumerable<string>>(new[] { "Apple", "Banana", "Orange" }.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase)));
    }

    public record Person(string Name, int Age) { }

    private static List<Person> GeneratePeopleData()
    {
        return [
    new Person("Emma Smith", 34),
    new Person("Liam Johnson", 29),
    new Person("Olivia Williams", 42),
    new Person("Noah Brown", 31),
    new Person("Ava Jones", 38),
    new Person("Ethan Davis", 27),
    new Person("Sophia Garcia", 45),
    new Person("Mason Rodriguez", 33),
    new Person("Isabella Martinez", 29),
    new Person("James Smith", 40),
    new Person("Charlotte Taylor", 36),
    new Person("Benjamin Anderson", 31),
    new Person("Amelia Thomas", 28),
    new Person("Lucas Johnson", 42),
    new Person("Mia Williams", 39),
    new Person("Alexander Brown", 33),
    new Person("Harper Davis", 30),
    new Person("Daniel Garcia", 37),
    new Person("Evelyn Martinez", 45),
    new Person("Henry Wilson", 32),
    new Person("Abigail Smith", 29),
    new Person("Michael Lee", 41),
    new Person("Emily Johnson", 36),
    new Person("Sebastian Taylor", 34),
    new Person("Elizabeth Anderson", 38),
    new Person("Joseph Brown", 27),
    new Person("Sofia Wilson", 31),
    new Person("David Martinez", 40),
    new Person("Scarlett Davis", 33),
    new Person("Jackson Smith", 45),
    ];
    }
}
