
<MudOverlay @bind-Visible="_isOpen" AutoClose="true" />
<div class="mud-list-item-clickable mud-ripple pr-4 py-3 has-tooltip-multiline has-tooltip-overflow" @onclick="ToggleOpen" data-tooltip="@ToolTipText">
    <MudStack Row AlignItems="AlignItems.Center" Class="pl-0 ml-0" >
        <!-- TODO Link tooltip somehow -->
            <MudText Typo="Typo.body2" Class="left-text">@Name</MudText>
            <MudIcon Class="palette-picker-icon" Icon="@Icons.Material.Filled.Palette" Style="@($"color: {DefaultColor}")" Size="Size.Small" />
    </MudStack>
</div>
<!-- Tryblazor version: https://try.mudblazor.com/snippet/wkGybuaSrnvujsOP -->

<MudExDialog @bind-Visible="_isOpen" OptionsEx="_dialogOptions">
    <TitleContent>
        <MudStack Class="ma-0 pa-0 mt-n1 mb-1 mr-n1" Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
            <MudText Style="max-width: 190px; user-select: none;" Class="left-text" Typo="Typo.h6">Edit @Name</MudText>
            <MudStack Row Spacing="1" Justify="Justify.FlexEnd">
                <MudTooltip Text="Copy Color to Clipboard">
                    <SnackbarChip @ref="copyColorSnackbarChip" IconToShow="@Icons.Material.Filled.ContentCopy" OnClick="@CopyColor" />
                </MudTooltip>
                <MudTooltip Text="Paste Color from Clipboard">
                    <SnackbarChip @ref="pasteColorSnackbarChip" IconToShow="@Icons.Material.Filled.ContentPaste" OnClick="@PasteColor" />
                </MudTooltip>
                &nbsp;
                <MudTooltip Text="Save Changes">
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Save" OnClick="@ToggleOpen" />
                </MudTooltip>                
                <MudTooltip Text="Revert to original color">
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Cancel" OnClick="@CancelOpen" />
                </MudTooltip>
            </MudStack>
        </MudStack>
    </TitleContent>
    <DialogContent>
        <div style="display: flex; justify-content: flex-end; width: 100%; margin-bottom: 8px;margin-top: 0px;">
            <MudSpacer />
            <MudTooltip Text="Copy From Primary Color">
                <SnackbarChip @ref="primaryColorSnackbarChip" IconToShow="@Icons.Material.Filled.Palette" OnClick="@(() => CopyFrom("primary"))"
                              Color="Color.Primary" Style="@($"color: {initialPrimary} !important;")"  />
            </MudTooltip>
            <MudTooltip Text="Copy From Secondary Color">
                <SnackbarChip @ref="secondaryColorSnackbarChip" IconToShow="@Icons.Material.Filled.Palette" OnClick="@(() => CopyFrom("secondary"))"
                              Color="Color.Secondary" Style="@($"color: {initialSecondary} !important;")" />
            </MudTooltip>
            <MudTooltip Text="Copy From Tertiary Color">
                <SnackbarChip @ref="tertiaryColorSnackbarChip" IconToShow="@Icons.Material.Filled.Palette" OnClick="@(() => CopyFrom("tertiary"))"
                              Color="Color.Tertiary" Style="@($"color: {initialTertiary} !important;")" />
            </MudTooltip>
            <MudSpacer />
            <MudButtonGroup OverrideStyles="false" Variant="Variant.Outlined">
                <MudIconButton Size="Size.Small" Variant="_view == ColorPickerView.Spectrum ? Variant.Outlined : Variant.Filled"
                               Icon="@Icons.Material.Filled.Tune" OnClick="@(() => _view = ColorPickerView.Spectrum)" />
                <MudIconButton Size="Size.Small" Variant="_view == ColorPickerView.Grid ? Variant.Outlined : Variant.Filled"
                               Icon="@Icons.Material.Filled.Apps" OnClick="@(() => _view = ColorPickerView.Grid)" />
                <MudIconButton Size="Size.Small" Variant="_view == ColorPickerView.Palette ? Variant.Outlined : Variant.Filled"
                               Icon="@Icons.Material.Filled.Palette" OnClick="@(() => _view = ColorPickerView.Palette)" />
            </MudButtonGroup>
        </div>
        <MudColorPicker Class="py-0 my-0" ShowToolbar="false" ColorPickerView="@_view" Value="@ThemeColor" PickerVariant="PickerVariant.Static" Elevation="0" ValueChanged="UpdateColor" />
    </DialogContent>
</MudExDialog>
